:root {
    --holberton-red: #e1484e;
}

.div-footer {
    border-top: 4px solid rgb(218, 62, 62);
    margin-top: 500px
}

.App-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.App-footer p {
    text-align: center;
    border-top: 3px solid var(--holberton-red);
    padding: 16px 0;
}